.audio-list {
    width: 200px;
    padding: 10px 0;
}

.audio-list-container {
    width: 200px;
    height: 400px;
}

.record-Button {
    position: relative;
    bottom: 0;
}

.horizontal-align {
    display: inline-block;
}

.sounds {
    padding: 10px 0;
}